<mat-card>
    <mat-card-header class="bg-primary text-white">
        <mat-card-title>
          <mat-icon class="card-icon">check_box</mat-icon> Quiz</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-5">
        <h3 class="example-h2">The regulator of Micro Finance in India is:</h3>

        <mat-radio-group class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
      <mat-card-actions>
        <button mat-raised-button color="warn">Submit</button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>

 