<mat-card class="bg-purple">
    <mat-card-content>
        <!-- column -->
        <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
            <div class="stats">
                <h3 class="text-white m-0">Gold price</h3>
                <h6 class="text-white m-t-0">April 2023</h6>
                <h1 class="text-white m-0">35487</h1>
            </div>
            <div class="ml-auto" style="height: 84px; width: 100px">
                <!-- <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas> -->
            </div>
        </div>
    </mat-card-content>
</mat-card>