
<div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
              <mat-form-field>
                <input matInput class="p-b-0" placeholder="Search news here..." >
              </mat-form-field>
            </div>
    

              <div fxLayout="row"  fxLayoutAlign="center center" fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
                <button   class="mr-1" mat-icon-button title="Grid view">
                  <mat-icon>view_comfy</mat-icon>
                </button>
                <button   class="mr-1" mat-icon-button title="List view">
                    <mat-icon>view_list</mat-icon>
                  </button>
                <div fxFlex>
                  <div class="font-14" fxShow="false" fxShow.gt-xs> About 1,090 results</div>
                </div>
                 
                 
                <button mat-button [matMenuTriggerFor]="menu">Sort by name</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Most recently published</button>
                <button mat-menu-item>Least recently published</button>
                <button mat-menu-item>Most recently updated</button>
                <button mat-menu-item>Least recently updated</button>
                </mat-menu>

                 
              </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div><!-- ============================================================== -->
<!-- News -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">
            <img mat-card-image src="assets/images/big/rbi-2.jpg" style="max-height: 300px;margin-top: -54px;" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                  Back
                  RBI issues detailed norms for outsourcing of IT services by banks, NBFCs
                </p>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                      <small> 11 Apr 2023</small>
                  </div>
                   
              </div>
                 
            </mat-card-content>
        </mat-card>
    </div>
       <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh">
          <img mat-card-image src="assets/images/big/kbl-1.jpg" style="max-height: 300px;" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                Karnataka Bank revises fixed deposit (FD) rates, now earn as high as 7.30% on 375 days tenor
              </p>
              <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                    <small> 13 Apr 2023</small>
                </div>
                 
            </div>
               
          </mat-card-content>
      </mat-card>
  </div>
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh">
          <img mat-card-image src="assets/images/big/kbl-3.gif" style="max-height: 300px;margin-top: 0px;" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                Karnataka Bank plans to achieve a growth of 17.69 per cent in its centenary year of 2023-24 ...
  
              </p>
              <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                    <small> 17 Apr 2023</small>
                </div>
                 
            </div>
               
          </mat-card-content>
      </mat-card>
  </div>
  
   
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">
            <img mat-card-image src="assets/images/big/rbi-2.jpg" style="max-height: 300px;margin-top: -54px;" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                  Back
                  RBI issues detailed norms for outsourcing of IT services by banks, NBFCs
                </p>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                      <small> 11 Apr 2023</small>
                  </div>
                   
              </div>
                 
            </mat-card-content>
        </mat-card>
    </div>
       <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh">
          <img mat-card-image src="assets/images/big/kbl-1.jpg" style="max-height: 300px;" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                Karnataka Bank revises fixed deposit (FD) rates, now earn as high as 7.30% on 375 days tenor
              </p>
              <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                    <small> 13 Apr 2023</small>
                </div>
                 
            </div>
               
          </mat-card-content>
      </mat-card>
  </div>
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card class="oh">
          <img mat-card-image src="assets/images/big/kbl-3.gif" style="max-height: 300px;margin-top: 0px;" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <p>
                Karnataka Bank plans to achieve a growth of 17.69 per cent in its centenary year of 2023-24 ...
  
              </p>
              <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                    <small> 17 Apr 2023</small>
                </div>
                 
            </div>
               
          </mat-card-content>
      </mat-card>
  </div>
  
  </div>