<mat-card>
    <mat-card-header class="bg-success text-white">
        <mat-card-title><mat-icon class="card-icon">trending_up</mat-icon> KBL Stocks today</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-0">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon class="text-green">arrow_upward</mat-icon>
          <div mat-line>{{folder.name}}</div>
          <div mat-line> {{folder.updated}} </div>
        </mat-list-item>
      </mat-list>
      <br>
      <br>
      <br>
    </mat-card-content>
</mat-card>