
.email-right-panel {
  padding: 30px;
  // background: $light;

  .avatar-lg {
    width: 100px;
    border-radius: 100%;
  }

  .row {
    overflow: hidden;
  }

  .col-md-2 {
    width: 20%;
    padding: 10px;
    float: left;
  }
}